.content {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.content img {
    margin-top: 8px;
    height: 150px;
    width: 225.24px;
    border-radius: 10%;
}

.content:hover img {-webkit-transform:scale(1);transform:scale(1.05);}

.content div a {
    text-decoration: none;
}

.content div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .title  {
    margin:0;
}

.subTitle {
    margin: 0;
} 